.paper_C {
  padding: 2rem;
  text-align: center;
  //color:;
  min-height: 50vh;
}
.paper1_C {
  padding: 2rem;
  text-align: center;
  //color: theme.palette.text.secondary;
  min-height: 20vh;
}
.table {
  min-width: 200;
}
.typogrphy {
  text-align: center;
  margin: 0 auto;
}
