.Bg {
  //background: url("../../assets/img/bg.jpg");
  background: #4c5454;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh !important;
}
.Home {
  margin-top: 10rem !important;
  width: 25rem;
  border-radius: 18px !important;
  padding-left: 10px;
  background-color: #c1cfda !important;
}
