.map {
  margin-top: 5rem !important;
}
.cus-h {
  min-height: 58vh !important ;
  //width: vw !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}
