.paper_C {
  padding: 2rem;
  text-align: center;
  //color:;
  min-height: 50vh;
}
.paper1_C {
  padding: 2rem;
  text-align: center;
  //color: theme.palette.text.secondary;
  min-height: 20vh;
}
.table {
  min-width: 200;
}
.cus-h {
  min-height: 58vh !important ;
  //width: vw !important;
  border-bottom-right-radius: 2rem !important;
  border-bottom-left-radius: 2rem !important;
}
