/* navbar */
.navbar {
  background: var(--mainDark) !important;
}

.nav-item {
  transition: all 1s ease-in-out;
}

.nav-item:hover {
  border-bottom: 0.1rem solid var(--mainGreen);
}

.active_link {
  border-bottom: 0.1rem solid var(--mainGreen);
}

.phone-icon {
  color: var(--mainGreen);
  border: 0.1rem solid var(--mainGreen);
  padding: 0.5rem;
  border-radius: 50%;
}

/* end of navbar */
/* header */
